/* Untuk Tablet */
@media all and (max-width: 1000px) {
 .top-wrapper h1{
   font-size:32px;
 }
 .heading h2 {
   font-size:30px;
 }
 .lesson{
   width:50%;
   margin-bottom:50px;
 }

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }
  
  .menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: block;
  }
 .top-wrapper{
  height:1700px;
 }

 .top-wrapper h1{
   font-size:24px;
   line-height:36px;
   text-align:left;
 }
 .top-wrapper p{
   font-size:14px;
   line-height:20px;
   text-align:left;
 }
 .heading h2 {
   font-size:20px;
 }

 .lesson{
   width:100%;

 }

.txt-contents {
  width: 100%;
  display: inline-block;
  margin-top: 15px;
  font-size: 17px;
  color: black;
  text-align:justify;

} .lesson-icon img{
  margin-top:10px;
  width :100%;
  height:200px;
  border:2px solid black;
 

}
.txt-contents {
  width: 100%;
  display: inline-block;
  margin-top: 15px;
  font-size: 17px;
  color: black;
  text-align:justify;

}
 .copy{
  display:none;
 }
 .kelas{
  display:none;
 }
 .footer{
  float:center;
  text-align:center; 
 }
}