/* Untuk Tablet */
@media all and (max-width: 1000px) {
 .top-wrapper h1{
   font-size:32px;
 }
 .heading h2 {
   font-size:30px;
 }
 .lesson{
   width:50%;
   margin-bottom:50px;
 }
 
 footer{
   height:300px;
 }
 .container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }
  .container {
  max-width: 670px;
  padding: 0 15px;
  margin: 0 auto;
 }
  
  .menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: block;
  }
 .top-wrapper h1{
   font-size:24px;
   line-height:36px;
   text-align:left;
 }
 .top-wrapper p{
   font-size:14px;
   line-height:20px;
   text-align:left;
 }
 .heading h2 {
   font-size:20px;
 }
 
 
 .lesson{
   width:100%;
 }
 footer{
 height:600px;       
 }
}